
<div class="well bs-component col-md-4 col-md-offset-4">
    <form method="post" action="/add" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="discogsID" class="col-md-3 control-label">Discogs ID</label>

                <div class="col-md-9">
                    <input type="text" name="discogsID" class="form-control" id="discogsID" placeholder="Discogs ID">
                </div>
            </div>

            <div class="form-group col-md-11 col-md-offset-1">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="playlist" value="true"> Add to Playlist
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="wishlist" value="true"> Add to Wishlist
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="listeningTo" value="true"> Add to Listening To List
                    </label>
                </div>
                <br>

            </div>
            <br>
            <div class="form-group">
                <label for="rating" class="col-md-3 control-label">Rating (1 - 5)</label>
            <div class="col-md-9">
                <input type="number" name="rating" class="form-control" id="rating" min="1" max="5">
            </div>
            </div>

                <div class="col-md-10 col-md-offset-1 text-center">
                    <button type="submit" class="btn btn-raised btn-default">Submit</button>


            </div>

        </fieldset>
    </form>
</div>